@include tablet
{
    .option
    {
        &__wrap
        {
            display: flex;
            flex-flow: row wrap;
            
            .option__btn--tbl-1
            {
                width: 235px;
                align-items: center;
                border-radius: 1rem;
                margin-right: 2rem;
            }
            .option__btn--tbl-2
            {
                width: 235px;
                align-items: center;
                border-radius: 1rem;
                margin-right: 2rem;
            }
            .option__btn--tbl-3
            {
                width: 325px;
                align-items: center;
                border-radius: 1rem;
            }
        }
    }
    
}