@include tablet
{
    body
    {
        margin:0 5rem;
     
        .aside
        {
            background-color:  white;
        } 
        .restaurants
        {
            background-color:  white;
        }   
    }
    
}